{% extends "base.html.twig" %}

{% block title %}{{ name }}{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}

<i> {{ Beruf }}</i> und dein Satz {{ satz }}

        anzahl {{ comments|length }}

        <ul>
    {% for comment in comments %}
        <li>{{ comment }}</li>

    {% endfor %}
</ul>

        <a href="{{ path('showmal', {harchi: 'fkjsf'} , {chichi: 'ggg'}) }}"> Lnk</a>


{% endblock %}
